body {
  background: #f8f8f8;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.tier-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tier-row {
  display: flex;
  align-items: center;
  border: 2px solid #000;
}

.tier-label {
  width: 70px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: white;
}

/* Couleurs type TierMaker */
.tier-S {
  background: #ff5353;
}
.tier-A {
  background: #ffa53b;
}
.tier-B {
  background: #ffea61;
  color: #333;
}
.tier-C {
  background: #79d96b;
}
.tier-D {
  background: #6bc2ff;
}

.tier-dropzone {
  display: flex;
  gap: 10px;
  background: white;
  border-left: 2px solid black;
}

/* Chips */
.chip img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #333;
  background: white;
}

.pool {
  margin: 20px auto;
  padding: 20px;
  width: 90%;
  min-height: 130px;
  background: #fff;
  border: 2px dashed #999;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.subtitle {
  text-align: center;
  margin-top: 30px;
}
